<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Be a better developer</h2>
                <hr class="light">
                <p class="text-faded">Messy code can cripple productivity and make life unpleasant for developers. Bad code is hard to test and is the source of bugs. Each day, we waste countless hours struggling with poorly written Ruby code. Clean Code for Rubyists will teach you how to make better decisions and have you writing cleaner code.</p>
                <p class="text-faded">This book is the culmination of many years of experience across numerous codebases both large and small. You will learn from first-hand experience. Each chapter covers the topics you need to know to make better decisions. Many books will tell you how to do something, but this book will tell you why you should do it. Read Clean Code for Rubyists and start writing code you love.</p>
                <a href="https://leanpub.com/cleancodeforrubyists" class="btn btn-default btn-xl">Get the book!</a>
            </div>
        </div>
    </div>
</section>
