<section id="learn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What You'll Learn</h2>
                <hr class="primary">
                <p>
                  Build better classes to help promote code reuse. Create more straightforward methods to increase productivity. Improve your decision making and make better, smarter choices. These are the things you will learn when reading Clean Code for Rubyists:
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Identify</h3>
                    <p class="text-muted">How to identify bad code and fixed it.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Creation</h3>
                    <p class="text-muted">How to create quality names for all of your variables, classes and modules.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Quality</h3>
                    <p class="text-muted">What is quality and how do you achieve it.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Techniques</h3>
                    <p class="text-muted">Techniques to improve when and how you refactor.</p>
                </div>
            </div>
        </div>
    </div>
</section>
